{{#each jobs as |job|}}

        <h3 data-id="{{job.id}}"> <small>Task: {{job.task}}</small></h3>
  <div>

    <!-- <button id="removeBookBtn" class="btn btn-default btn-sm" onClick="this.parentNode.parentNode.removeChild(this.parentNode);">Remove Book Info</button> -->

    <!-- <button class="btn btn-default btn-sm" onClick="parentNode.parentNode.removeChild(parentNode)">Remove Book Info</button> -->
  </div>
{{/each}}
